.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    transition: background-color 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Active Mode (Light Theme) */
.container.active {
    background-color: rgb(101, 112, 181);
    color: white;
}

/* Off Mode (Dark Theme) */
.container.off {
    background-color: rgb(46, 20, 110);
    color: white;
}

/* Toggle Button */
button {
    padding: 10px 20px;
    background-color: #00b4d8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

button:hover {
    background-color: #0077b6;
}
